# General


*.o
*.lo
*.la

tags
*.swp
*.core

utils/crossfire-mapper

include/autoconf.h.in
macros/ltoptions.m4
macros/ltsugar.m4
macros/ltversion.m4
macros/lt~obsolete.m4
macros/pkg.m4
utils/test-driver
cscope.*

include/autoconf.h.in~
*.html
*.kdev4

cov-int/
.dirstamp

.deps/
.libs/
Makefile.in
Makefile

common/arch_types_valid.c

.qmake.stash
.pch/

.vs/



# Specific paths


# /
/aclocal.m4
/autom4te.cache/
/config.cache
/config.log
/config.status
/configtest.out
/configtest.xml
/configtest.xsl
/configure
/configure.in
/libtool
/Crossfire.tag
/html
/.git
/.dep.inc

# /common/
/common/libcross.a
/common/loader.c

# /devel/
/devel/crossfire-config

# /doc/

# /doc/Developers/

# /doc/playbook/

# /doc/playbook-html/

# /doc/scripts/

# /doc/spell-docs/

# /doc/spoiler/

# /doc/spoiler-html/

# /include/
/include/autoconf.h
/include/stamp-h1
/include/svnversion.h

# /lib/
/lib/smooth
/lib/.collect-stamp
/lib/checkarch.pl
/lib/collect.pl
/lib/faces
/lib/crossfire.*
/lib/archetypes
/lib/treasures.bld
/lib/bmaps.paths
/lib/bmaps
/lib/animations
/lib/arch
/lib/treasures

# /macros/
/macros/libtool.m4

# /make_win32/
/make_win32/*.plg
/make_win32/*.ncb
/make_win32/*.opt
/make_win32/FullDebug
/make_win32/ReleaseLog
/make_win32/ReleaseQuit
/make_win32/Installer
/make_win32/CrossfireServer.exe
/make_win32/make_maps_nsi.vpd
/make_win32/CrossfireServerBigworldMaps.nsi
/make_win32/CrossfireServerBigworldMaps.exe

# /plugins/

# /plugins/cfanim/

# /plugins/cfanim/include/

# /plugins/cflogger/

# /plugins/cflogger/include/

# /plugins/cfnewspaper/

# /plugins/cfnewspaper/include/

# /plugins/cfpython/

# /plugins/cfpython/include/

# /plugins/cfrhg/

# /plugins/cfrhg/include/

# /plugins/citylife/

# /plugins/citylife/include/

# /plugins/common/

# /plugins/common/include/

# /plugins/template/

# /plugins/template/include/

# /random_maps/
/random_maps/random_map
/random_maps/librandom_map.a
/random_maps/reader.c

# /server/
/server/crossfire
/server/crossfire-server
/server/libserver.a

# /socket/
/socket/libsocket.a

# /test/
/test/logs
/test/**/*.a
/test/**/.autorun.xml

# /test/bugs/bugtrack/
/test/bugs/bugtrack/*
!/test/bugs/bugtrack/Makefile.am
!/test/bugs/bugtrack/*.c

# /test/unit/common/
/test/unit/common/*
!/test/unit/common/Makefile.am
!/test/unit/common/*.c

# /test/unit/random_maps/
/test/unit/random_maps/*
!/test/unit/random_maps/Makefile.am
!/test/unit/random_maps/*.c

# /test/unit/server/
/test/unit/server/*
!/test/unit/server/Makefile.am
!/test/unit/server/*.c

# /test/unit/socket/
/test/unit/socket/*
!/test/unit/socket/Makefile.am
!/test/unit/socket/*.c

# /types/
/types/libtypes.a

# /types/altar/

# /types/armour_improver/
/types/armour_improver/libtypes.a

# /types/arrow/

# /types/blindness/

# /types/book/

# /types/button/

# /types/cf_handle/

# /types/check_inv/

# /types/clock/

# /types/common/

# /types/container/

# /types/converter/

# /types/creator/

# /types/deep_swamp/

# /types/detector/

# /types/director/

# /types/dragon_focus/

# /types/duplicator/

# /types/exit/

# /types/food/

# /types/gate/

# /types/hole/

# /types/identify_altar/

# /types/lamp/
/types/lamp/libtypes.a

# /types/legacy/

# /types/lighter/
/types/lighter/libtypes.a

# /types/marker/

# /types/mood_floor/

# /types/peacemaker/

# /types/pedestal/

# /types/player_changer/

# /types/player_mover/

# /types/poison/

# /types/poisoning/

# /types/potion/

# /types/power_crystal/

# /types/savebed/

# /types/scroll/

# /types/shop_inventory/
/types/shop_inventory/libtypes.a

# /types/shop_mat/

# /types/sign/

# /types/skillscroll/

# /types/spell_effect/

# /types/spellbook/

# /types/spinner/

# /types/teleporter/

# /types/thrown_object/

# /types/transport/

# /types/trap/

# /types/trapdoor/

# /types/treasure/

# /types/trigger/

# /types/trigger_altar/

# /types/trigger_button/

# /types/trigger_pedestal/

# /types/weapon_improver/

# /utils/
/utils/add_throw.perl
/utils/crossloop
/utils/crossloop.pl
/utils/crossloop.pl.tmpl
/utils/crossloop.tmpl
/utils/crossloop.web
/utils/metaserver.pl
/utils/player_dl.pl
/utils/scores.pl
/utils/mapper
/utils/compile
/utils/ltmain.sh
/utils/ylwrap
/utils/depcomp
/utils/config.guess
/utils/config.sub
/utils/mkinstalldirs
/utils/missing
/utils/install-sh

# /utils/cre/
/utils/cre/moc_*
/utils/cre/qrc_cre.cpp
/utils/cre/cre
/utils/cre/.git
/utils/cre/.gitignore
