# General


*.o
*.lo
*.la

tags
*.swp
*.core

utils/crossfire-mapper

include/autoconf.h.in
macros/ltoptions.m4
macros/ltsugar.m4
macros/ltversion.m4
macros/lt~obsolete.m4
macros/pkg.m4
utils/test-driver
cscope.*

include/autoconf.h.in~
*.html
*.kdev4

cov-int/
.dirstamp

.deps/
.libs/
Makefile.in
Makefile

common/arch_types_valid.c

.qmake.stash
.pch/

.vs/



# Specific paths


# /
/aclocal.m4
/autom4te.cache/
/config.cache
/config.log
/config.status
/configtest.out
/configtest.xml
/configtest.xsl
/configure
/configure.in
/libtool
/Crossfire.tag
/html
/.git
/.dep.inc

# /common/
/common/libcross.a
/common/loader.c

# /devel/
/devel/crossfire-config

# /doc/

# /doc/Developers/

# /doc/playbook/

# /doc/playbook-html/

# /doc/scripts/

# /doc/spell-docs/

# /doc/spoiler/

# /doc/spoiler-html/

# /include/
/include/autoconf.h
/include/stamp-h1
/include/svnversion.h

# /lib/
/lib/smooth
/lib/.collect-stamp
/lib/checkarch.pl
/lib/collect.pl
/lib/faces
/lib/crossfire.*
/lib/archetypes
/lib/treasures.bld
/lib/bmaps.paths
/lib/bmaps
/lib/animations
/lib/arch
/lib/treasures

# /macros/
/macros/libtool.m4

# /make_win32/
/make_win32/*.plg
/make_win32/*.ncb
/make_win32/*.opt
/make_win32/FullDebug
/make_win32/ReleaseLog
/make_win32/ReleaseQuit
/make_win32/Installer
/make_win32/CrossfireServer.exe
/make_win32/make_maps_nsi.vpd
/make_win32/CrossfireServerBigworldMaps.nsi
/make_win32/CrossfireServerBigworldMaps.exe

# /plugins/

# /plugins/cfanim/

# /plugins/cfanim/include/

# /plugins/cflogger/

# /plugins/cflogger/include/

# /plugins/cfnewspaper/

# /plugins/cfnewspaper/include/

# /plugins/cfpython/

# /plugins/cfpython/include/

# /plugins/cfrhg/

# /plugins/cfrhg/include/

# /plugins/citylife/

# /plugins/citylife/include/

# /plugins/common/

# /plugins/common/include/

# /plugins/template/

# /plugins/template/include/

# /random_maps/
/random_maps/random_map
/random_maps/librandom_map.a
/random_maps/reader.c

# /server/
/server/crossfire
/server/crossfire-server
/server/libserver.a

# /socket/
/socket/libsocket.a

# /test/
/test/.autorun.xml
/test/*.a
/test/logs

# /test/bugs/
/test/bugs/.autorun.xml

# /test/bugs/bugtrack/
/test/bugs/bugtrack/.autorun.xml
/test/bugs/bugtrack/check_1727944

# /test/include/
/test/include/.autorun.xml
/test/include/*.a

# /test/templates/
/test/templates/.autorun.xml
/test/templates/*.a

# /test/toolkit/
/test/toolkit/.autorun.xml
/test/toolkit/*.a

# /test/unit/
/test/unit/.autorun.xml
/test/unit/*.a

# /test/unit/common/
/test/unit/common/.autorun.xml
/test/unit/common/*.a
/test/unit/common/check_anim
/test/unit/common/check_arch
/test/unit/common/check_button
/test/unit/common/check_exp
/test/unit/common/check_friend
/test/unit/common/check_glue
/test/unit/common/check_holy
/test/unit/common/check_image
/test/unit/common/check_info
/test/unit/common/check_init
/test/unit/common/check_item
/test/unit/common/check_links
/test/unit/common/check_living
/test/unit/common/check_loader
/test/unit/common/check_logger
/test/unit/common/check_los
/test/unit/common/check_map
/test/unit/common/check_object
/test/unit/common/check_path
/test/unit/common/check_player
/test/unit/common/check_porting
/test/unit/common/check_quest
/test/unit/common/check_re-cmp
/test/unit/common/check_readable
/test/unit/common/check_recipe
/test/unit/common/check_region
/test/unit/common/check_shstr
/test/unit/common/check_time
/test/unit/common/check_treasure
/test/unit/common/check_utils

# /test/unit/random_maps/
/test/unit/random_maps/.autorun.xml
/test/unit/random_maps/*.a
/test/unit/random_maps/check_decor
/test/unit/random_maps/check_door
/test/unit/random_maps/check_exit
/test/unit/random_maps/check_expand2x
/test/unit/random_maps/check_floor
/test/unit/random_maps/check_maze_gen
/test/unit/random_maps/check_monster
/test/unit/random_maps/check_random_map
/test/unit/random_maps/check_reader
/test/unit/random_maps/check_rogue_layout
/test/unit/random_maps/check_room_gen_onion
/test/unit/random_maps/check_room_gen_spiral
/test/unit/random_maps/check_snake
/test/unit/random_maps/check_special
/test/unit/random_maps/check_square_spiral
/test/unit/random_maps/check_standalone
/test/unit/random_maps/check_style
/test/unit/random_maps/check_test
/test/unit/random_maps/check_treasure
/test/unit/random_maps/check_wall

# /test/unit/server/
/test/unit/server/.autorun.xml
/test/unit/server/*.a
/test/unit/server/check_alchemy
/test/unit/server/check_apply
/test/unit/server/check_attack
/test/unit/server/check_ban
/test/unit/server/check_build_map
/test/unit/server/check_c_chat
/test/unit/server/check_c_misc
/test/unit/server/check_c_move
/test/unit/server/check_c_new
/test/unit/server/check_c_object
/test/unit/server/check_c_party
/test/unit/server/check_c_range
/test/unit/server/check_c_wiz
/test/unit/server/check_commands
/test/unit/server/check_daemon
/test/unit/server/check_disease
/test/unit/server/check_egoitem
/test/unit/server/check_gods
/test/unit/server/check_hiscore
/test/unit/server/check_init
/test/unit/server/check_login
/test/unit/server/check_main
/test/unit/server/check_monster
/test/unit/server/check_move
/test/unit/server/check_pets
/test/unit/server/check_player
/test/unit/server/check_plugins
/test/unit/server/check_resurrection
/test/unit/server/check_rune
/test/unit/server/check_shop
/test/unit/server/check_skill_util
/test/unit/server/check_skills
/test/unit/server/check_spell_attack
/test/unit/server/check_spell_effect
/test/unit/server/check_spell_util
/test/unit/server/check_swamp
/test/unit/server/check_swap
/test/unit/server/check_time
/test/unit/server/check_timers
/test/unit/server/check_weather
/test/unit/server/check_win32
/test/unit/server/comet_perf

# /test/unit/socket/
/test/unit/socket/.autorun.xml
/test/unit/socket/*.a
/test/unit/socket/check_image
/test/unit/socket/check_info
/test/unit/socket/check_init
/test/unit/socket/check_item
/test/unit/socket/check_loop
/test/unit/socket/check_lowlevel
/test/unit/socket/check_metaserver
/test/unit/socket/check_request
/test/unit/socket/check_sounds

# /types/
/types/libtypes.a

# /types/altar/

# /types/armour_improver/
/types/armour_improver/libtypes.a

# /types/arrow/

# /types/blindness/

# /types/book/

# /types/button/

# /types/cf_handle/

# /types/check_inv/

# /types/clock/

# /types/common/

# /types/container/

# /types/converter/

# /types/creator/

# /types/deep_swamp/

# /types/detector/

# /types/director/

# /types/dragon_focus/

# /types/duplicator/

# /types/exit/

# /types/food/

# /types/gate/

# /types/hole/

# /types/identify_altar/

# /types/lamp/
/types/lamp/libtypes.a

# /types/legacy/

# /types/lighter/
/types/lighter/libtypes.a

# /types/marker/

# /types/mood_floor/

# /types/peacemaker/

# /types/pedestal/

# /types/player_changer/

# /types/player_mover/

# /types/poison/

# /types/poisoning/

# /types/potion/

# /types/power_crystal/

# /types/savebed/

# /types/scroll/

# /types/shop_inventory/
/types/shop_inventory/libtypes.a

# /types/shop_mat/

# /types/sign/

# /types/skillscroll/

# /types/spell_effect/

# /types/spellbook/

# /types/spinner/

# /types/teleporter/

# /types/thrown_object/

# /types/transport/

# /types/trap/

# /types/trapdoor/

# /types/treasure/

# /types/trigger/

# /types/trigger_altar/

# /types/trigger_button/

# /types/trigger_pedestal/

# /types/weapon_improver/

# /utils/
/utils/add_throw.perl
/utils/crossloop
/utils/crossloop.pl
/utils/crossloop.pl.tmpl
/utils/crossloop.tmpl
/utils/crossloop.web
/utils/metaserver.pl
/utils/player_dl.pl
/utils/scores.pl
/utils/mapper
/utils/compile
/utils/ltmain.sh
/utils/ylwrap
/utils/depcomp
/utils/config.guess
/utils/config.sub
/utils/mkinstalldirs
/utils/missing
/utils/install-sh

# /utils/cre/
/utils/cre/moc_*
/utils/cre/qrc_cre.cpp
/utils/cre/cre
/utils/cre/.git
/utils/cre/.gitignore
