<html>
<head>
<link rel="stylesheet" type="text/css" href="/ailesse.css" />
<title>Region list</title>
</head>
<body>
#REGIONCOUNT# regions in the world:
<ul>
#REGIONS#
</ul>

<body>
</html>
