<html>
<head>
<link rel="stylesheet" type="text/css" href="/ailesse.css" />
<title>Crossfire world map</title>
</head>
<body>
<img src="#WORLDMAP#" usemap="##map">
<map id="map" name="map">
#MAPS#
</map>
</body>
</html>
