#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

LIB_DIR = var/games/crossfire
DATADIR = usr/share/games/crossfire

build: patch
	dh_testdir

	./configure	--prefix=/$(LIB_DIR) 		\
			--datadir=/usr/share/games 	\
		        --bindir=/usr/games     	\
			--mandir=/usr/share/man/man1	\
			--localstatedir=/var/games	\
			--sysconfdir=/etc

	# Add here commands to compile the package.
	$(MAKE) all

	touch build-stamp

clean: clean-patched unpatch

clean-patched:
	dh_testdir
	-rm -f build-stamp install-stamp
	-rm -rf debian/crossfire-server
	-rm -rf debian/crossfire-doc
	-rm -rf debian/crossfire-edit

	# Add here commands to clean up after the build process.
	-$(MAKE) clean
	-$(MAKE) distclean
	-rm -r -f Makefile
	-find -name "Makefile" -print0 | xargs -0r rm 
	-rm config.cache
	-rm config.log
	-rm config.status
	-rm include/autoconf.h
	-rm socket/socket.a
	-rm lib/xbmtobdf.o
	-rm common/libcross.a
	-rm lib/xbmtobdf
	-rm random_maps/random_map.a
	-rm random_maps/standalone.o
#	-rm doc/spell-docs/Makefile
#	-rm lib/crossfire.cfb

	dh_clean

patch: patch-stamp
patch-stamp:
	dpatch apply-all --verbose
	touch patch-stamp

unpatch:
	dpatch deapply-all --verbose
	rm -rf patch-stamp debian/patched

install: 
install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	$(MAKE) -C common install DESTDIR=$(CURDIR)/debian/crossfire-server 
	$(MAKE) -C random_maps install DESTDIR=$(CURDIR)/debian/crossfire-server 
	$(MAKE) -C socket install DESTDIR=$(CURDIR)/debian/crossfire-server 
	$(MAKE) -C server install DESTDIR=$(CURDIR)/debian/crossfire-server 
	$(MAKE) -C include install DESTDIR=$(CURDIR)/debian/crossfire-server 
	$(MAKE) -C lib install DESTDIR=$(CURDIR)/debian/crossfire-server 
	$(MAKE) -C utils install DESTDIR=$(CURDIR)/debian/crossfire-server 
	$(MAKE) -C plugin install DESTDIR=$(CURDIR)/debian/crossfire-server 
	$(MAKE) -C devel install DESTDIR=$(CURDIR)/debian/crossfire-server 
	$(MAKE) -C utils uninstall-nodist_binSCRIPTS  DESTDIR=$(CURDIR)/debian/crossfire-server

	$(MAKE) -C crossedit install DESTDIR=$(CURDIR)/debian/crossfire-edit 

	chown -R games.games debian/crossfire-server/var/games/crossfire
	chmod 2755 debian/crossfire-server/var/games/crossfire
	install -D -m775 -o root -g games -d debian/crossfire-server/var/log/crossfire

	dh_install

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir -i
#	dh_installmenu -i
	dh_installdocs -i
	dh_installchangelogs -i 
	dh_compress -i 
	dh_fixperms -i 
#	dh_suidregister -i 
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i 
	dh_builddeb -i

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir -a
	dh_testroot
#	dh_installmenu -a
	dh_installinit -pcrossfire-server -Pdebian/crossfire-server
	dh_installdocs -pcrossfire-server -Pdebian/crossfire-server
	dh_installdocs -pcrossfire-edit -Pdebian/crossfire-edit
	dh_installman -pcrossfire-server -Pdebian/crossfire-server doc/crossfire.man
	dh_installman -pcrossfire-server -Pdebian/crossfire-server doc/crossfire-config.man
	dh_installman -pcrossfire-server -Pdebian/crossfire-server doc/crossloop.web.man
	dh_installman -pcrossfire-edit -Pdebian/crossfire-edit doc/crossedit.man
	dh_installchangelogs -pcrossfire-server -Pdebian/crossfire-server
	dh_installchangelogs -pcrossfire-edit -Pdebian/crossfire-edit
	dh_strip -pcrossfire-server -Pdebian/crossfire-server
	dh_strip -pcrossfire-edit -Pdebian/crossfire-edit
	dh_compress -pcrossfire-server -Pdebian/crossfire-server
	dh_compress -pcrossfire-edit -Pdebian/crossfire-edit
	dh_installdeb -pcrossfire-server -Pdebian/crossfire-server
	dh_installdeb -pcrossfire-edit -Pdebian/crossfire-edit
	dh_installdebconf -pcrossfire-server -Pdebian/crossfire-server
	dh_shlibdeps -pcrossfire-server -Pdebian/crossfire-server
	dh_shlibdeps -pcrossfire-edit -Pdebian/crossfire-edit

	dh_gencontrol -pcrossfire-server -Pdebian/crossfire-server
	dh_gencontrol -pcrossfire-edit -Pdebian/crossfire-edit
	dh_md5sums -pcrossfire-server -Pdebian/crossfire-server
	dh_md5sums -pcrossfire-edit -Pdebian/crossfire-edit
	dh_builddeb -pcrossfire-server -Pdebian/crossfire-server
	dh_builddeb -pcrossfire-edit -Pdebian/crossfire-edit

source diff:                                                                  
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
